<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container position-relative">

        <!-- Logo -->
        <a href="{{ config.base_url }}" class="navbar-brand">
            <img src="{{ get_url(path=config.extra.logo) }}" alt="site-logo">
        </a>

        <!-- Mobile Toggle -->
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

            <!-- Left Menu -->
            <ul class="nav navbar-nav main-navigation">
                {% set lang_extra = config.extra[lang] %}
                {% for menu in lang_extra.menus %}
                <li class="nav-item">
                    <a href="{{ get_url(path=menu.url) }}" class="nav-link">
                        {{ menu.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <!-- Right Side: Contact + Language -->
            <div class="navbar-nav d-flex align-items-center">

                <!-- Contact Button -->
                <a href="{{ get_url(path='contact') }}" class="hire_button me-3">
                    {{ trans(key="contact") }}
                </a>

                <!-- Language Switcher -->

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang-switcher"
                       href="#"
                       id="langDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% if lang == "en" %}EN{% else %}DE{% endif %}
                    </a>


                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                        <li>
                            <a class="dropdown-item" href="/">English</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/de/">Deutsch</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>
