{% set lang_extra = config.extra[lang] %}
{% if lang_extra.resume_file %}

{% set resume_data = load_data(path=lang_extra.resume_file) %}

<section class="section resume" id="resume">
   <div class="resume__background"></div>
   <div class="container">
       <div class="row">
           <div class="col-lg-6">
               <div class="resume__heading">
                   <span>{{ resume_data.infos.title }}</span>
                   <h1>{{ resume_data.infos.title }}</h1>
                   <p> {{ resume_data.infos.subtitle }} </p><br><br>
                   <p> {{ resume_data.infos.second_subtitle }} </p>
                   <ul class="nav nav-tabs">
                       <li><a href="#{{ resume_data.infos.tabs[0].target }}" class="active" data-bs-toggle="tab">{{ resume_data.infos.tabs[0].name }}</a></li>
                       <li><a href="#{{ resume_data.infos.tabs[1].target }}" data-bs-toggle="tab">{{ resume_data.infos.tabs[1].name }}</a></li>
                   </ul>
               </div>
           </div>

           <div class="col-lg-6">
               <div class="tab-content">
                   <div class="resume__education tab-pane show active" id="{{ resume_data.infos.tabs[0].target }}">
                       {% for education in resume_data.infos.educations %}
                           <div class="resume__education_item">
                               <span>{{ education.time }}</span>
                               <h4>{{ education.title }}</h4>
                               <p>{{ education.content }}</p>
                           </div>
                       {% endfor %}
                   </div>

                   <div class="resume__education tab-pane" id="{{ resume_data.infos.tabs[1].target }}">
                       {% for experience in resume_data.infos.experiences %}
                           <div class="resume__education_item">
                               <span>{{ experience.time }}</span>
                               <h4>{{ experience.title }}</h4>
                               <p>{{ experience.content }}</p>
                           </div>
                       {% endfor %}
                   </div>
               </div>
           </div>

       </div>
   </div>
</section>
{% endif %}