{% set lang_extra = config.extra[lang] %}
{% if lang_extra.testimonial_file %}

{% set testimonial_data = load_data(path=lang_extra.testimonial_file) %}

<section class="section testimonial">
   <div class="testimonial__background_shape">
       <svg viewBox="0 0 1920 79">
           <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
       </svg>
   </div>
   <div class="container">
       <div class="row text-center">
           <div class="col-lg-6 offset-lg-3">
               <div class="testimonial__header">
                 {% if testimonial_data.infos.top_title %}
                     <span>{{ testimonial_data.infos.top_title }}</span>
                 {% endif %}
                 <h1>{{ testimonial_data.infos.title }}</h1>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
               <div id="carousel-testimonials" class="carousel slide" data-bs-ride="carousel">
                   <div class="carousel-indicators">
                       {% for testimonial in testimonial_data.infos.testimonials %}
                       <button type="button"
                               class="testimonial__slider_button {% if loop.first %}active{% endif %}"
                               data-bs-target="#carousel-testimonials" 
                               data-bs-slide-to="{{ loop.index0 }}" 
                               aria-label="Slide {{ loop.index }}"
                               {% if loop.first %}aria-current=true{% endif %}> 
                       {% endfor %}
                   </div>

                   <div class="carousel-inner">
                   {% for testimonial in testimonial_data.infos.testimonials %}
                        <div class="testimonial__slider_item carousel-item {% if loop.first %} active{% endif %}">
                           <ul class="testimonial__slider_item-rating">
                               {% for rate in range(end=5) %} 
                                   {% if rate < testimonial.star %}
                                       <li><i class="lni lni-star-filled"></i></li>
                                   {% else %}
                                       <li><i class="lni lni-star-filled inactive"></i></li>
                                   {% endif %}
                               {% endfor %}
                           </ul>
                           <p class="testimonial__slider_item-content">{{ testimonial.comment }}</p>
                           <p class="testimonial__slider_item-author"><span>{{ testimonial.name }}</span> | {{ testimonial.time }}</p>
                       </div>
                   {% endfor %}
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
{% endif %}
